@page "/posts"

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Posts</h3>
        <hr />
        <!-- How to write code in blog -->
        @*<p>Example how to update client applications:</p>
               <pre class="bg-dark text-white">
                   <code>
        public class LiveUpdatesHub : Hub
        {
           public async Task LiveUpdate()
           {
               await Clients.All.SendAsync("LiveUpdate");
           }
        }
                   </code>
               </pre>*@
        <!-- Post no.2-->
        <NavLink class="text-decoration-none" href="https://dev.to/infobipdev/how-to-schedule-tasks-in-net-weve-made-it-seem-easy-2-511n">
            <h4 class="text-primary">@_postTitle3</h4>
        </NavLink>
        <p class="font-italic">@_postDescription3</p>
        <p class="font-weight-light">@_publishDate3</p>
        <span class="badge badge-primary">#WebApi</span>
        <span class="badge badge-primary">#Tutorial</span>
        <hr />
        <!-- Post no.2-->
        <NavLink class="text-decoration-none" href="https://dev.to/infobipdev/how-to-write-url-shortener-in-net5-weve-made-it-seem-easy-1-5c56">
            <h4 class="text-primary">@_postTitle2</h4>
        </NavLink>
        <p class="font-italic">@_postDescription2</p>
        <p class="font-weight-light">@_publishDate2</p>
        <span class="badge badge-primary">#WebApi</span>
        <span class="badge badge-primary">#Tutorial</span>
        <span class="badge badge-primary">#Beginners</span>
        <hr />
        <!-- Post no.1-->
        <NavLink class="text-decoration-none" href="https://dev.to/dlozina/api-broadcasting-with-net-7mk">
            <h4 class="text-primary">@_postTitle1</h4>
        </NavLink>
        <p class="font-italic">@_postDescription1</p>
        <p class="font-weight-light">@_publishDate1</p>
        <span class="badge badge-primary">#WebApi</span>
        <span class="badge badge-primary">#BlazorClient</span>
        <hr />
    </div>
    <div class="col-2">
        <div class="position-fixed">
            <RightMenu />
        </div>
    </div>
</div>