@page "/projects"

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Projects</h3>
        <hr />
        <!-- Project no.15-->
                <h4 class="text-primary">@_projectTitle15</h4>
                <p class="font-weight-bold">@_projectTime15</p>
                <p>@_projectWork15</p>
                <p>@_projectTech15</p>
                <ul>
                    <li>@_projectList151</li>
                    <li>@_projectList152</li>
                    <li>@_projectList153</li>
                    <li>@_projectList154</li>
                </ul>
        <!-- Project no.1-->
        <h4 class="text-primary">@_projectTitle1</h4>
        <p class="font-weight-bold">@_projectTime1</p>
        <p>@_projectWork1</p>
        <p>@_projectTech1</p>
        <ul>
            <li>@_projectList11</li>
            <li>@_projectList12</li>
            <li>@_projectList13</li>
            <li>@_projectList14</li>
        </ul>
        <hr>
        <!-- Project no.2-->
        <h4 class="text-primary">@_projectTitle2</h4>
        <p class="font-weight-bold">@_projectTime2</p>
        <p>@_projectWork2</p>
        <p>@_projectTech2</p>
        <ul>
            <li>@_projectList21</li>
            <li>@_projectList22</li>
            <li>@_projectList23</li>
            <li>@_projectList24</li>
            <li>@_projectList25</li>
            <li>@_projectList26</li>
            <li>@_projectList27</li>
        </ul>
        <hr />
        <!-- Project no.3-->
        <h4 class="text-primary">@_projectTitle3</h4>
        <p class="font-weight-bold">@_projectTime3</p>
        <p>@_projectWork3</p>
        <p>@_projectTech3</p>
        <ul>
            <li>@_projectList31</li>
            <li>@_projectList32</li>
            <li>@_projectList33</li>
            <li>@_projectList34</li>
            <li>@_projectList35</li>
        </ul>
        <hr />
        <!-- Project no.4-->
        <h4 id="univst1" class="text-primary">@_projectTitle4</h4>
        <p class="font-weight-bold">@_projectTime4</p>
        <p>@_projectWork4</p>
        <p>@_projectTech4</p>
        <ul>
            <li>@_projectList41</li>
            <li>@_projectList42</li>
            <li>@_projectList43</li>
            <li>@_projectList44</li>
        </ul>
        <hr />
        <!-- Project no.5-->
        <h4 id="univst2" class="text-primary">@_projectTitle5</h4>
        <p class="font-weight-bold">@_projectTime5</p>
        <p>@_projectWork5</p>
        <p>@_projectTech5</p>
        <ul>
            <li>@_projectList51</li>
            <li>@_projectList52</li>
            <li>@_projectList53</li>
            <li>@_projectList54</li>
            <li>@_projectList55</li>
            <li>@_projectList56</li>
        </ul>
        <hr />
        <!-- Project no.6-->
        <h4 class="text-primary">@_projectTitle6</h4>
        <p class="font-weight-bold">@_projectTime6</p>
        <p>@_projectWork6</p>
        <p>@_projectTech6</p>
        <ul>
            <li>@_projectList61</li>
            <li>@_projectList62</li>
            <li>@_projectList63</li>
            <li>@_projectList64</li>
            <li>@_projectList65</li>
        </ul>
        <hr />
        <!-- Project no.7-->
        <h4 class="text-primary">@_projectTitle7</h4>
        <p class="font-weight-bold">@_projectTime7</p>
        <p>@_projectWork7</p>
        <p>@_projectTech7</p>
        <ul>
            <li>@_projectList71</li>
            <li>@_projectList72</li>
            <li>@_projectList73</li>
            <li>@_projectList74</li>
            <li>@_projectList75</li>
            <li>@_projectList76</li>
            <li>@_projectList77</li>
        </ul>
        <hr />
        <!-- Project no.8-->
        <h4 class="text-primary">@_projectTitle8</h4>
        <p class="font-weight-bold">@_projectTime8</p>
        <p>@_projectWork8</p>
        <p>@_projectTech8</p>
        <ul>
            <li>@_projectList81</li>
            <li>@_projectList82</li>
            <li>@_projectList83</li>
            <li>@_projectList84</li>
            <li>@_projectList85</li>
        </ul>
        <hr />
        <!-- Project no.9-->
        <h4 class="text-primary">@_projectTitle9</h4>
        <p class="font-weight-bold">@_projectTime9</p>
        <p>@_projectWork9</p>
        <p>@_projectTech9</p>
        <ul>
            <li>@_projectList91</li>
            <li>@_projectList92</li>
            <li>@_projectList93</li>
            <li>@_projectList94</li>
        </ul>
        <hr />
        <!-- Project no.10-->
        <h4 class="text-primary">@_projectTitle10</h4>
        <p class="font-weight-bold">@_projectTime10</p>
        <p>@_projectWork10</p>
        <p>@_projectTech10</p>
        <ul>
            <li>@_projectList101</li>
            <li>@_projectList102</li>
            <li>@_projectList103</li>
            <li>@_projectList104</li>
        </ul>
        <hr />
        <!-- Project no.11-->
        <h4 class="text-primary">@_projectTitle11</h4>
        <p class="font-weight-bold">@_projectTime11</p>
        <p>@_projectWork11</p>
        <p>@_projectTech11</p>
        <ul>
            <li>@_projectList111</li>
            <li>@_projectList112</li>
            <li>@_projectList113</li>
            <li>@_projectList114</li>
        </ul>
        <hr />
        <!-- Project no.12-->
        <h4 class="text-primary">@_projectTitle12</h4>
        <p class="font-weight-bold">@_projectTime12</p>
        <p>@_projectWork12</p>
        <p>@_projectTech12</p>
        <ul>
            <li>@_projectList121</li>
            <li>@_projectList122</li>
            <li>@_projectList123</li>
            <li>@_projectList124</li>
            <li>@_projectList125</li>
        </ul>
        <hr />
        <!-- Project no.13-->
        <h4 class="text-primary">@_projectTitle13</h4>
        <p class="font-weight-bold">@_projectTime13</p>
        <p>@_projectWork13</p>
        <p>@_projectTech13</p>
        <ul>
            <li>@_projectList131</li>
            <li>@_projectList132</li>
            <li>@_projectList133</li>
            <li>@_projectList134</li>
        </ul>
        <hr />
        <!-- Project no.14-->
        <h4 class="text-primary">@_projectTitle14</h4>
        <p class="font-weight-bold">@_projectTime14</p>
        <p>@_projectWork14</p>
        <p>@_projectTech14</p>
        <ul>
            <li>@_projectList141</li>
            <li>@_projectList142</li>
            <li>@_projectList143</li>
        </ul>
    </div>
    <div class="col-2">
        <div class="position-fixed">
            <RightMenu />
            <br />
            <h3>Download</h3>
            <hr />
            <NavLink class="nav-link text-dark" href="data/Projects.pdf" download="Projects.pdf" target="_top">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                    <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                    <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                </svg> Project List
            </NavLink>
        </div>
    </div>
</div>