@page "/projects"

<div class="row justify-content-center">
    <div class="col-10">
        <h3>Projects</h3>
        <hr />
        <!-- Project no.1-->
        <h4 class="text-primary">@_projectTitle1</h4>
        <p class="font-weight-bold">@_projectTime1</p>
        <p>@_projectWork1</p>
        <p>@_projectTech1</p>
        <ul>
            <li>@_projectList11</li>
            <li>@_projectList12</li>
            <li>@_projectList13</li>
            <li>@_projectList14</li>
        </ul>
        <hr>
        <!-- Project no.2-->
        <h4 class="text-primary">@_projectTitle2</h4>
        <p class="font-weight-bold">@_projectTime2</p>
        <p>@_projectWork2</p>
        <p>@_projectTech2</p>
        <ul>
            <li>@_projectList21</li>
            <li>@_projectList22</li>
            <li>@_projectList23</li>
            <li>@_projectList24</li>
            <li>@_projectList25</li>
            <li>@_projectList26</li>
            <li>@_projectList27</li>
        </ul>
        <hr />
        <!-- Project no.3-->
        <h4 class="text-primary">@_projectTitle3</h4>
        <p class="font-weight-bold">@_projectTime3</p>
        <p>@_projectWork3</p>
        <p>@_projectTech3</p>
        <ul>
            <li>@_projectList31</li>
            <li>@_projectList32</li>
            <li>@_projectList33</li>
            <li>@_projectList34</li>
            <li>@_projectList35</li>
        </ul>
        <hr />
        <!-- Project no.4-->
        <h4 class="text-primary">@_projectTitle4</h4>
        <p class="font-weight-bold">@_projectTime4</p>
        <p>@_projectWork4</p>
        <p>@_projectTech4</p>
        <ul>
            <li>@_projectList41</li>
            <li>@_projectList42</li>
            <li>@_projectList43</li>
            <li>@_projectList44</li>
        </ul>
        <hr />
        <!-- Project no.5-->
        <h4 class="text-primary">@_projectTitle5</h4>
        <p class="font-weight-bold">@_projectTime5</p>
        <p>@_projectWork5</p>
        <p>@_projectTech5</p>
        <ul>
            <li>@_projectList51</li>
            <li>@_projectList52</li>
            <li>@_projectList53</li>
            <li>@_projectList54</li>
            <li>@_projectList55</li>
            <li>@_projectList56</li>
        </ul>
        
    </div>
    <div class="col-2">
        <RightMenu />
    </div>
</div>